html {
    font-size: 16px;
    
}

body {
    background-color: #E1EFE6;
    color: #3F4739;
    font-family: 'Fredoka', 'Roboto', sans-serif;
}

header {
    position: fixed;
    color: #E1EFE6;
    top: 0;
    width: 100%;
    background-color: #3F4739;
    padding: 10px;
}

    h1 {
        font-size: 2rem;
        float: left;
    }

    nav {
        float: right;
        margin-right: 1.25rem;
        padding-right: 3rem;
    }
        .nav-list {
            display: flex;
            gap: 1rem;

            list-style: none;
        }
        
        .nav-list li {
            flex-grow: 1;
        }

        .nav-list a {
            text-decoration: none;
            color: #E1EFE6;
        }

img {
    float: left;
    max-width: 200px;
    margin: 20px;

}

p {
    display: inline-block;
    text-align: justify;
    width: 75%;
}

main {
    margin: 100px 20px;
}

section {
    display: flex;
    gap: 2rem;
    margin-top: 1em;
}

h2 {
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    width: 25%;
    float: right;
}

.right-side-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 50%;
}

.individual-project {
    max-width: 30%;
    min-width: 25%;
    padding: 10px;
    height: 400px;
    gap: 2em;
    margin: 10px;
    background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80");
    background-size: cover;
}

.individual-project:nth-of-type(1) {
    min-width: 100%;
}

/*Styling for smaller screens*/
@media screen and (max-width: 685px) {
    section {
        display: inline;

    }
    
    h2 {
        float: none;
        width: auto;
        border-bottom: #3F4739 10px solid;
        margin: 0px;
        text-align: center;

    }

    img {
        max-width: 75%;
    }

    .right-side-content {
        justify-content: center;
        width: 100%;
    }

}


/*Styling for larger screens*/
@media screen and (min-width: 686px) {
    h2 {
    border-right: #3F4739 10px solid;
    text-align: right;
    }


}